<% if employee_signed_in? && current_employee.role == 'admin' %>
<div class="container-fluid mt-3">
  <div class="row">
    <div>
      <%= search_form_for @q, remote: true do |f| %>
      <%= f.search_field :name_cont, placeholder: 'Search Here', class: 'form-control search-right' %>
    </div>
    <div>
      <%= f.submit class: 'btn btn-outline-secondary search-button' %>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Employees List</h1>

<div class="right">
  <%= link_to 'Add Employee', new_employee_path, class: 'btn btn-outline-primary' %>
</div>
<br><br>
    <table class="table table-light table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"><%= sort_link(@q, :name) %></th>
          <th scope="col"><%= sort_link(@q, :email) %></th>
          <th scope="col"><%= sort_link(@q, :address) %></th>
          <th scope="col"><%= sort_link(@q, :gender) %></th>
          <th scope="col"><%= sort_link(@q, :dob) %></th>
          <th scope="col"><%= sort_link(@q, :phone_number) %></th>
          <th scope="col"><%= sort_link(@q, :designation) %></th>
          <th scope="col"><%= sort_link(@q, :date_of_joining) %></th>
          <th scope="col"><%= sort_link(@q, :department) %></th>
          <th scope="col"colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.email %></td>
          <td><%= employee.address %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.dob %></td>
          <td><%= employee.phone_number %></td>
          <td><%= employee.designation %></td>
          <td><%= employee.date_of_joining %></td>
          <td><%= employee.department&.name %></td>
          <td><%= link_to 'Show', employee, class: 'btn btn-outline-primary btn-sm' %></td>
            <td><%= link_to 'Edit', edit_employee_path(employee), class: 'btn btn-outline-success btn-sm' %></td>
            <td><%= link_to 'Destroy', employee, data: { "turbo_method": :delete , turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-danger btn-sm'  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
<% else %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>You are not authorised to access this page!!</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>