<%= form_with model: @department do |form| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@department.errors.count, "error") %> prohibited
        this seed from being saved:
      </h3>
      <ul>
        <% @department.errors.full_messages.each do |msg| %>
          <li style="color: red;"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
	<div>
		<%= form.label :name %><br>
    <%= form.text_field :name, class: 'form-control' %>
	</div>
	<br>
  <div>
    <%= form.submit class: 'btn btn-primary btn-sm' %>
  </div>

<% end %>
