<div class="container mt-3">
  <div class="mt-4 p-5 bg-light text-dark rounded">
    <h3>Edit Leave Detail</h3> 
    <p>
    <table class="table table-light table-striped table-hover">
    <thead>
      <tr>
        <th>From Date</th>
        <th>To Date</th>
        <th>Reason</th>
        <th>Mail To</th>
        <th>Employee Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @leave.from_date %></td>
        <td><%= @leave.to_date %></td>
        <td><%= @leave.reason %></td>
        <td><%= @leave.mail_to %></td>
        <td><%= @leave.employee.name %></td>
      </tr>
    </tbody>
  </table>
    <div class="text-center">
      <%= link_to 'Edit', edit_leafe_path(@leave), class: 'btn btn-outline-success' %>
      <%= link_to 'Back', leaves_path, class: 'btn btn-outline-dark' %>
    </div>
  </p>
  </div>
</div>
